/*custom css styles for b3.html*/
/*created 2015-11-13 */

#Rimage{
    position: relative;
    width: 25%;
}

#rr{
    border-style: none;
    margin: 20px;
    float: left;
    position: relative;
    height: 230px;
}


#db{
    border-style: none;
    margin: 20px;
    float: left;
    position:relative;
    height: 230px;
}

#dv{
    border-style: none;
    margin: 20px;
    float: left;
    position: relative;
    height: 230px;
}

#git{
    border-style: none;
    margin: 20px;
    position: relative;
    height: 230px;
}

#bb{
    border-style: none;
    margin: 20px;
    position: relative;
    height: 230px;
}